body{
	font-size: 11px;
}

.navbar{
	background opacity: .25;
}

.boxcabeza h1{
	font-size: 30px;
}

.boxcabeza{
	background-image: url('bg.jpeg');
	background-size: cover;
	text-align: center;
	color: white;
	height: 300px;
	padding-top: 60px;
}	


.button1{

	padding: 6px;
	border: none;
	background: #2767B4;
	border-radius: 5px;
	width: 40px
	height: 4px;
	margin: 6px;
	color: white;
}

.button2{

	padding: 6px;
	border: none;
	background: #68CF68;
	border-radius: 5px;
	width: 40px
	height: 4px;
	margin: 6px;
	color: white;

}

.bajo{
	text-align: center;
}	

h2{
	font-size: 15px;
	text-align: center;
}


.box1{
	
	padding-bottom: 0px;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}



.box1 img{
	width: 40%;
	margin-bottom: 0px;

}

.box2{
	background-color: #EFEFEF;
	margin: 0px;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

.button3{

	padding: 6px;
	border: none;
	background: #2767B4;
	border-radius: 5px;
	width: 40px
	height: 4px;
	margin: 6px;
	color: white;
}

.box3{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: left;
}

.box3 h3{
	font-size: 17px;
}

.boxfinal{
	height: 30px;
	background-color: black;
	text-align: center;
	color: white;
}
